extends ../../node_modules/pug-bootstrap/layouts/starter

append body
    .container
        h1= title

        if data
        div.row
            each result in data.length ? data : ['No data available']
                for item in result
                    div.col-lg-4
                        div.panel.panel-primary
                            div.panel-heading
                                h3.panel-title #{item.currency}: #{JSON.stringify(item.buyDatetime.date.year)}-#{moment(JSON.stringify(item.buyDatetime.date.month)).format('MMM')}-#{JSON.stringify(item.buyDatetime.date.day)}
                            div.panel-body Foo balalksDJ alkdsjaSDLakd aksDLJ DASLKDJaslkdj d alksDJasd laskDJ SA laskdjalksDJ Laksdj
                    script.
                        console.log(!{JSON.stringify(item)})
                        console.log(!{JSON.stringify(item.buyDatetime)})

        +alert-info("This is a sample info alert.")
        +navbar("Project name","dropdown_menu")
        +navbar("Project name","dropdown_menu","inverse")
        +navbar("Project name","dropdown_menu")
            +nav_item("index.html","active") Home
            +nav_item("about.html") About
            +nav_item("contact.html") Contact
        +navbar("Project name","dropdown_menu")
            +nav_item("index.html","active") Home
            +nav_item("about.html") About
            +nav_item("contact.html") Contact
            +nav_item_dropdown("#")(label="Dropdown")
                +nav_item("#") Action
                +nav_item("#") Another Action
                +nav_item("#") Something else here
                +nav_divider
                +nav_header Nav header
                +nav_item("#") Separated link
                +nav_item("#") One more separated link
    h1 #{message}